/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,500;1,400&family=Roboto:wght@300&family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #E5E5E5;
}

/* --------------------
header Start
--------------------- */
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
}
.container-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: -15px;
    margin-bottom: 50px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    

}
.players img{
    width: 56px;
    height: 56px;
    margin-right: 20px
}

.player{
    display: flex;
    align-items: center;


}
.player h3{
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    width: 807px;
    margin-top: 45px;
    margin-bottom: 35px;
}


/* -------------
another section
---------------- */
.blogs-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.top-blog{
    display: flex;


}
.top-blog img{
    width: 177px;
    height: 117px;
    margin-right: 20px;
    margin-bottom: 26px;
    
}
.blog-title{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;

}
.blog-creator a{
    text-decoration: none;
    color: #562EFF;
    font-weight: 400;
    font-size: 16px;
}
.blog-creator{
    font-weight: 400;
    font-size: 16px;
    color: #9F9F9F
    ;
}

/* ----------
footer
------------- */

.footer{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 10px;
    
    
    

}

.footer-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.course-info{
    display: flex;
    gap: 27px;
}

.foooter-container img{
    width: 224px;
    height: 104px;

}

.teacher-name{
    margin-top: -5px;
    margin-bottom: 15px;
    font-size: 12px;

}

.filled{
    color: #FFC014;
    font-size: 12px;

}
.empty{
    color: #AEAEAE;
    opacity: 0.25;
    font-size: 12px;
}


/* ---------------
for responsive
------------------- */

@media only screen and (max-width: 576px ) {


    .container{
        width: 100%;
        padding: 0;
        padding-left: 20px;
    
    }
    main{
        flex-direction: column
    }

    .players{
        
        grid-template-columns: repeat(1, 1fr);   
}

.blogs-container{
    
    grid-template-columns: repeat(1, 1fr);
}

.footer-div{
    
    grid-template-columns: repeat(1, 1fr);}

    .footer{
       
        width: 100%;
        padding-left: 20px;
        padding-right: 0px;
        margin-right: 0;
        
        
        
    }
       

hr{
    width: 100%;





}


}